* {
	padding:0px;
	margin:0px;
}

#container {
	width:1280px;
	margin:0 auto;
	background:gray;
	height:1200px;
}

a {
	text-decoration:none;
	color:white;
}

header img {
	margin:0 auto;
}

nav ul {
	text-align:center;
	margin:0 auto;
}

nav ul li {
	display:inline-block;
	background:green;
}

nav ul li a {
	padding:20px;
	background:blue;
}